.header-1 {
  background-color: rgb(212, 57, 0);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  column-gap: 50px;
}

.middle-header-1-container {
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: rgb(162, 0, 0);
  padding-left: 42px;
  padding-right: 42px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.header-1 p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header-2 {
  display: flex;
  background-color: blue;
  height: 105px;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
}

.logo {
  height: 72px;
  margin-right: 8px;
}

.logo-text {
  height: 48px;
}

.support-info {
  display: flex;
  
}


