p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Roboto, Arial;
  font-size: 10px;
}


.inbox-container {
  width: 300px;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  padding-top: 5px;
  padding-bottom: 15px;
  border-radius: 5px;
}

.header {
  font-size: 8px;
  color: gray;
  margin-left: 8px;
}

.email {
  display: flex;
  align-items: center;
  margin-top: 10px;
 
}
.profile-picture {
  height: 30px;
  border-radius: 15px;
  margin-left: 8px;
}

.email-info {
  margin-left: 6px;
  line-height: 1.3;
  width: 270px;
}

.name {
  font-weight: bold;
  font-size: 11px;
  display: flex;
  font-family: Roboto, Arial;
  justify-content: space-between;
}

.time-recieved {
  margin-right: 16px;
  font-weight: 400;
  font-size: 9px;
  color: gray;
}


.subject {
  font-size: 9px;
  font-weight: bold;
}

.description {
  font-size: 9px;
  color: rgb(103, 103, 103);
}